.personal {
    width: 215px;
    height: 178px;
    background: linear-gradient(124.43deg, rgba(134, 133, 168, 0.11) 0%, rgba(19, 19, 28, 0.11) 100%, rgba(22, 22, 40, 0.11) 100.01%);

    box-sizing: border-box;
    padding: 13px;
    border-radius: 20px;

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.personal__info {
    text-align: center;
    top: -25px;
    position: absolute;
}

.personal--small {
    height: fit-content;
}

.personal--small .personal__info {
    position: initial;
}

.personal__info h4 {
    font-size: 17px;
    color: white;
}

.personal__info p {
    font-size: 12px;
    color: #D2D2D2 !important;
}

.personal__info__benefits {
    color: white;
    font-size: 13px;
    font-style: italic;
    margin-bottom: 5px;
    border-top: 1px solid #444;
}

.personal__img__container {
    text-align: center;
}