#footer {

    font-family: montserrat;
    font-size: 20px;

}

#footer .navbar {
    padding-top: 0 !important;
}


#footer .nav-link {

    font-family: montserrat;
    font-size: 20px;

}

#media-links-container {
    margin-bottom: 66px;
    margin-left: 25px;
}


#media-links-container li {
    border: none;
    background-color: var(--light-golden);
}

#media-links-container li a {
    color: black;

}

#media-links-container img,
svg {
    width: 23px;
    height: 22px;
}

#languages {
    padding-top: 33px;
    border-top: 1px solid #444;
}


@media (max-width: 992px) {

    #footer .logo {
        width: 170px;
        height: auto;
    }

    #languages {
        border-top: none;
    }

    #media-links-container {
        margin: 0;
    }
    

    #footer .nav-link,
    #footer .nav-item-bg-golden {
        font-size: 13px;
    }

}